doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title slider
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")   

  body
    div(class="slider")
    div(class="slider")
    div(class="slider")
    //-   div(class="thumb")
    //- div(class="slider")
    //-   div(class="thumb")
    //- div(class="slider")
    //-   div(class="thumb")