.slider {
  position: relative;
  width: 350px;
  height: 5px;
  margin: 25px;
  border-radius: 3px;
  background: #e0e0e0;
}

.thumb {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  background: blue;
  cursor: pointer;
}
